# Base configuration
permalink: https://www.helicoptersofdc.com
exclude: [".rvmrc", ".rbenv-version", "README.md", "Rakefile", "changelog.md"]
markdown: kramdown

#Prose.io editing info
repo_name: dc-helicopters
branch: master
#GitHub organization name *or* username
gh_org: gbinal
prose_url: https://github.com/
site_url: https://www.github.com
media: assets/img


# Your Programs's Name
name: Gray Brooks
subtitle: Ever forward...

# When using this template with a project page set the baseurl to '/project-name'
# For user/organization pages set this to an empty string
# When working locally use jekyll serve --baseurl '' so that you can view everything at localhost:4000
# See http://jekyllrb.com/docs/github-pages/ for more info
#baseurl: ''
baseurl: 'https://www.helicoptersofdc.com/'

# Author/Organization info to be displayed in the templates
author:
  name: Helicopters of DC
  url: https://www.helicoptersofdc.com/

# ------------------------------------------------------------------
#   Navigation
#   List links that should appear in the site sidebar here
#   "pages" is a directory to keep web content that are not posts
# ------------------------------------------------------------------
navigation:
- text: Home
  url: /index.html
  internal: true
- text: Details
  url: /details/
  internal: true
- text: Quick Identification Help
  url: /quick-identification/
  internal: true
- text: Related information
  url: /related-information/
  internal: true
- text: New/Uncertain
  url: /uncertain/
  internal: true
- text: Credits
  url: /credits/
  internal: true
- text: Feedback
  url: https://github.com/gbinal/dc-helicopters/issues
  internal: false
