<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="https://helicoptersofdc.com/assets/css/normalize.css">
        <link rel="stylesheet" href="https://helicoptersofdc.com/assets/css/main.css">
        <link rel="stylesheet" href="https://helicoptersofdc.com/assets/css/syntax.css">
        {% seo %}
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131677905-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-131677905-1');
</script>
        
    </head>
    <body>



      <header role="banner">

      <div class="wrap">
        {% if site.logourl != null %}
          <img class="logo" src="{{site.logourl}}" alt="{{site.logoalt}}">
        {% endif %}
        <h1><a class="title-link" href="https://www.helicoptersofdc.com">{{ site.name }}</a></h1>
        <div style="float:right">
            <!-- This should be a configurable item in data/ -->

            <!--<a href="https://xkcd.com/1972/" class="title-link">
                <img height="52" src="https://helicoptersofdc.com/assets/img/xkcd_homage.png" alt="Inspiration" title="Inspiration" target="_blank">
            </a>-->
        </div>
      </div>
      </header>

      <div class="wrap content">

          {% include sidebar.html %}

        <section id="main" class="main-content" role="main">
          {{ content }}
        </section>


        <footer role="contentinfo">
          <p>Hosted on <a href="https://github.com/gbinal/dc-helicopters">Github Pages</a></p>


        </footer>

      </div><!-- /.wrap -->
    </body>
</html>
